/* ----------------------------------------------------- */
/*
/* Sett'r up just right
/*
/* ----------------------------------------------------- */

html,
body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #ccc;
	font: normal normal normal 30px/40px 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
	background-color: #000;
	border: none;

	-webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
	margin: 0;
	padding: 0;
}

a {
	color: #5ba7ab;
	text-decoration: none;
	outline: none;

	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	-o-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
}

a:hover {
	color: #66babe;
}

img {
	border: none;
	outline: none;
}

ul,
li {
	list-style-type: none;
}